<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>

  <body>
    <div class="container">
      <nav class="header">
        <h1 class="title"><a href="/">Blogz!</a></h1>
        <a href="/blog" class="left spacing">View All Posts</a>
        <a href="/newpost"><i class="fa fa-pencil" aria-hidden="true"></i> New Post</a>
        <a href="/logout" class="right"><i class="fa fa-sign-out"></i> Logout</a>
        <a href="/login" class="right spacing"><i class="fa fa-sign-in"></i> Login</a>
      </nav>
      {% block content %}
      {% endblock %}
    </div>
  </body>

</html>
